/*Board Stylings!*/

body {
  background-image: url("../img/struckaxiom.png");
}

/*BOARD*/
#container {
  /*width: 800px;*/
  /*margin: 60px 120px 0;*/
  max-width: 600px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

#outer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

#board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/purty_wood.png");
  box-shadow: 0px 3px 8px 0px black;
}

.menu {
  position: fixed;
  top: 0px;
  padding: 5px;
  background-color: #8B8386;
  box-shadow: 0px 1px 4px 0px black;
  vertical-align: center;
  text-align: center;
}

.left {
  left: 0px;
  border-bottom-right-radius: 10px;
}

.right {
  right: 0px;
  border-bottom-left-radius: 10px;
}

.menu .entry {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
}

#uploader {
  background-image: url("../img/load.png");
  cursor: pointer;
}

/*GRID*/
.line-horiz {
  position: absolute;
  left: 0px;
  border-top: 1px solid black;
  /*height: 1px;*/
  width: 100%
}

.line-vert {
  position: absolute;
  top: 0px;
  height: 100%;
  border-left: 1px solid black;
  /*width: 1px;*/
}

.star {
  background-color: black;
  border-radius: 50%;
}

/*STONES*/
.stone {
  border-radius: 50%;
}

.set {
  box-shadow: 0rem 0.1rem 0.3rem 0rem black, inset -0.25rem -0.25rem 0.2rem rgba(0,0,0,0.5);
}

.white {
  background-color: white;
}

.black {
  background-color: rgb(60, 60, 60);;
}

.empty-white:hover {
  background-image: radial-gradient(
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50.1%
    );
}

.empty-black:hover {
  background-image: radial-gradient(
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 50.1%
    );
}
