/*Gui related styles*/

#slider-outer {
  background: darkgrey;
  box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.5);;
  height: 6px;
  width: 100%;
  margin-top: 5%;
  position: relative;
  border-radius: 20%;
}

#slider-handle {
  position: absolute;
  height: 20px;
  top: -7px;
  background-color: #fc3c11;
  margin-left: -10px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
}
