/*Gui related styles*/

#slider-outer {
  background: darkgrey;
  box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.5);;
  height: 6px;
  width: 100%;
  margin-top: 5%;
  position: relative;
  border-radius: 20%;
}

#slider-handle {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -17px;
  background-color: #fc3c11;
  margin-left: -25px;
  cursor: pointer;
  border-radius: 50%;
}

#pass {
  width: 60px;
  background: #fc3c11;
  overflow: hidden;
  border-radius: 5px;
  color: #fcdcd4;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 29px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#pass:hover {
  background: #fc8946;
  line-height: 28px;
}
