/*Gui related styles*/

#slider-wrapper {
  background: green;
  height: 40px;
  width: 50%;
  margin-top: 100px;
  position: relative;
}

#slider {
  position: absolute;
  height: 120%;
  top: -10%;
  background-color: blue;
  width: 30px;
  cursor: pointer;
}
